/* begin shared */
html,
body {
	height:100%;
	width:100%;
	font-family: 'Raleway', sans-serif;
}
#app {
	min-height: 100%;
	height: auto;
	margin: 0 auto -100px;
	padding: 0 0 60px;
}
.content {
	padding-top: 80px;
}
#footer {
	margin-top: 50px;
	width: 100%;
	height: 100px;
	background-color: #f5f5f5;
	text-align: center;
}
#footer .social-share-buttons a {
	margin: 0.5em;
}
/* end shared */

/* begin fa icons */
.fa {
	margin-left: 5px;
	margin-right: 5px;
}
/* end fa icons */

/* begin login */
#pupal-login-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 32px;
	height: 32px;
	position: relative;
}
#login-modal .loginmodal-content {
	text-align: center,
	padding: 1em;
	background-color: #e1e5ed;
}

#login-modal .login-prompt-btn {
	width: 18em;
}
/* end login */

/* begin navbar */
.navbar-brand {
	font-weight: bold;
}
#header-nav .dropdown-menu {
	width: 300px;
}
#navbar-user-pic {
	margin: 5px 10px 5px 10px;
	border-radius: 50%;
	height: auto;
	width: auto;
	max-width: 40px;
	max-height: 40px;
}
/* end navbar */

/* begin home */
/* end home */

/* begin domain */
.domain-content .domain-image {
	margin-right: 10px;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	position: relative;
}
/* end domain */

/* begin projects */
.projects-content .proj-entry-content {
	position: relative;
}
.projects-content .card-title {
	margin-left: 40px;
	margin-top: 20px;
	font-weight: bold;
	display: inline-block;
}
.projects-content .card-text {
	margin-left:40px;
	margin-bottom: 20px;
}
.projects-content .num-subscribes-text {
	position: absolute;
	top: 20px;
	right: 40px;
}
.projects-content .desc-text {
	width: 500px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.projects-content .proj-entry-tag {
	display: inline-block;
}
/* end projects */

/* begin projmodal  */
#proj-modal .modal-header {
	font-weight: bold;
}
#proj-modal .modal-header .btn-circle.btn-lg {
	position: absolute;
	top: 150px;
	right: 50px;
	width: 50px;
	height: 50px;
	padding: 10px 10px;
	font-size: 18px;
	border-radius: 25px;
}
#proj-modal .modal-body {
	margin-right: 100px;
	margin-left: 100px;
}
#proj-modal .modal-footer {
	text-align: center;
}
#proj-modal .modal-title {
	margin: 50px 50px;
}
#proj-modal .proj-author-image {
	display: inline-block;
	border-radius: 50%;
	margin: 1em;
	width: 50px;
	height: 50px;
}
#proj-modal .author-info-contact {
	display: inline-block;
}
/* end projmodal */

.host-content {
	margin-bottom: 100px;
}

/* begin user page */
#user-profile-pic {
	margin-right: 50px;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	position: relative;
	display: inline-block;
}
#user-profile-name {
	display: inline-block;
}
/* end user page */

