<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Pupal</title>
		<!--Jquery min-->
    		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    		<!--Babel compiler for JSX-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
		<!--Core DEV React libraries-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.js"></script>
		<!--React Router-->
				<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/3.0.5/ReactRouter.min.js" integrity="sha256-KVPd9Qv9lUw3xBviDr6vZgvqOc3lBwDbf6JTWMMK1gw=" crossorigin="anonymous"></script>-->
    		<!--React components-->
    		<script type="text/babel" src="static/js/app.jsx"></script>
    		<!--Bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!--Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 	
		<link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet"> 
		<!--MDB-->
		<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" type="text/css" media="all" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>
		<!--Firebase-->
		<script src="https://www.gstatic.com/firebasejs/3.7.8/firebase.js"></script>
		<!--Custom styles-->
		<link rel="stylesheet" href="static/css/styles.css" type="text/css" media="all" />
		<!--Favicon-->
		<link rel="icon" type="image/png" href="static/images/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="static/images/favicon-16x16.png" sizes="16x16" />

	</head>
	<body>
		<div id="app">

		</div>

		<footer class="footer">
			<p><br />© 2017 | Developed by Stanley Chen | <a href="mailto:stanlec1@uci.edu">stanlec1@uci.edu</a><br /></p>
		 </footer>
	</body>
</html>
